# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# environment variables
.env
.env*.local
.env.local

# logs
*.log

# vercel
.vercel

# typescript
*.tsbuildinfo

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
